
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#reactivity {
  margin-top: 80px;
}
input[type="text"] {
  width: 300px;
  height: 50px;
  border: 1px solid #cecece;
  border-radius: 4px;
}

input[type="text"].green {
  color: green;
  background: rgb(240, 255, 248);
}

input[type="text"].red {
  color: red;
  background: rgb(243, 203, 203);
}